<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity4">
<head>
    <meta http-equiv="Content-Type" content="text/html;charset=utf-8"/>
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1"/>
    <title>品质管理系统-邦板烧录信息</title>
    <link rel="stylesheet" type="text/css" href="/layui/css/layui.css" th:href="@{/layui/css/layui.css}"/>
    <link rel="stylesheet" type="text/css" href="/css/iframe.css" th:href="@{/css/iframe.css}"/>
    <script type="text/javascript" src="/layui/layui.js" th:src="@{/layui/layui.js}"></script>
</head>
<body>
<div class="layui-fluid" sec:authorize="hasRole('ROLE_ADMIN')">
    <div class="layui-row">
        <!--头部查询form-->
        <div class="search">
            <div class="layui-form layui-form-pane">
          
                <div class="layui-inline">
                    <label class="layui-form-label">邦板SN</label>
                    <div class="layui-input-inline">
                        <input class="layui-input" type="text" placeholder="请输入邦板SN" name="sn" id="sn"/>
                    </div>
                </div>
                <div class="layui-inline">
                    <label class="layui-form-label">工单号</label>
                    <div class="layui-input-inline">
                        <input class="layui-input" type="text" placeholder="请输入工单号" name="po" id="po"/>
                    </div>
                </div>
                 <div class="layui-inline">
                    <label class="layui-form-label">MAC</label>
                    <div class="layui-input-inline">
                        <input class="layui-input" type="text" placeholder="请输入MAC" name="mac" id="mac"/>
                    </div>
                </div>
              <div class="layui-inline">
                    <label class="layui-form-label">测试人</label>
                    <div class="layui-input-inline">
                        <input class="layui-input" type="text" placeholder="请输入测试人" name="name" id="name"/>
                    </div>
                </div>
                  <div class="layui-inline">
                    <label class="layui-form-label">开始时间</label>
                    <div class="layui-input-inline">
                        <input class="layui-input" type="text" placeholder="请选择开始时间" name="startTime" id="startTime"/>
                    </div>
                </div>
                <div class="layui-inline">
                    <label class="layui-form-label">结束时间</label>
                    <div class="layui-input-inline">
                        <input class="layui-input" type="text" placeholder="请选择结束时间" name="endTime" id="endTime"/>
                    </div>
                </div>
                <div class="layui-inline">
                        <button class="layui-btn " lay-submit="" lay-filter="searchBtn" id="searchBtn">
                            <i class="layui-icon">&#xe615;</i>查询
                        </button>
                </div>
                <div class="layui-inline">
                    <button class="layui-btn" lay-submit="" id="exportBtn">
                     	<i class="layui-icon">&#xe663;</i>下载
                     </button>
                     <span style="color:red">(为防止服务器负载过大,建议下载的数据保持在5万条以内)</span>
                </div>
            </div>
        </div>
        <!--中间表格内容-->
        <div>
            <table id="dataTable" lay-filter="dataTable">
            </table>
        </div>
    </div>
</div>
<script type="text/javascript" th:inline="javascript">
    /* <![CDATA[*/
    layui.config({
        base: /*[[@{/js/}]]*/ null
    }).use(['form', 'jquery', 'table', 'laypage', 'common', 'laydate'], function () {
        var form = layui.form,
            table = layui.table,
            common = layui.common,
            $ = layui.jquery;
            laydate = layui.laydate;
        laydate.render({
            elem: '#startTime'
            ,type: 'datetime'
        });
        laydate.render({
            elem: '#endTime'
            ,type: 'datetime'
        });
        var tableIns = table.render({
            id: "dataTable",
            elem: '#dataTable', //绑定对象
            size: 'sm',
            loading: true,
            page: true,
            limit: 10,
            url: /*[[@{/burn/list_data}]]*/ null,//请求地址，默认会绑定参数?page=1&limit=30，分别代表当前页码和呈现的数据量
            method: 'post',
            cols: [[ //标题栏
                {type:'checkbox'}
                , {type:'numbers', title: '序号'}
                , {field: 'sn', title: '邦板SN'}
                , {field: 'po', title: '工单号' }
                , {field: 'mac', title: 'MAC'}
                , {field: 'name', title: '测试人'}
                , {field: 'version', title: '版本信息'}
                , {field: 'createTime', title: '测试时间'}
            ]],
            response: {
                statusName: 'code' //数据状态的字段名称，默认：code
                , statusCode: 200 //成功的状态码，默认：0
                , msgName: 'msg' //状态信息的字段名称，默认：msg
                , countName: 'count' //数据总数的字段名称，默认：count
                , dataName: 'data' //数据列表的字段名称，默认：data
            }
        });

        form.on("submit(searchBtn)", function (obj) {
            var field = obj.field;
            if (field['sn'] == '') field['sn'] = undefined;
            if (field['po'] == '') field['po'] = undefined;
            if (field['mac'] == '') field['mac'] = undefined;
            if (field['name'] == '') field['name'] = undefined;
            if (field['version'] == '') field['version'] = undefined;
            if (field['startTime'] == '') field['startTime'] = undefined;
            if (field['endTime'] == '') field['endTime'] = undefined;
            tableIns.reload({
                where: obj.field
            });
            return false;
        });


        //下载
        $("#exportBtn").on('click', function () {
        	var po=$("#po").val();
        	var sn=$("#sn").val();
        	var mac=$("#mac").val();
        	var name=$("#name").val();
        	var startTime=$("#startTime").val();
        	var endTime=$("#endTime").val();
        	//必须输入开始时间
        	if(startTime== ''||startTime==undefined){
        		layer.alert('为防止导出过多数据,请设置开始时间');
        		return;
        	}
        	var url=/*[[@{/burn/export}]]*/;
        	url=url+"?sn="+sn+"&po="+encodeURIComponent(po)+"&startTime="+startTime+"&endTime="+endTime+"&mac="+mac+"&name="+name;
            top.window.location.href = url;
        });

        $(document).on("keyup", function (e) {
            var keyCode = e.keyCode;
            if (keyCode === 13) {
                $("#searchBtn").trigger("click");
                return false;
            }
        });
    });

    /* ]]>*/
</script>
</body>
</html>